<h2 mat-dialog-title>
  {{ isEditMode() ? "Edit Event" : "Add New Event" }}
</h2>

<form [formGroup]="eventForm">
  <mat-dialog-content>
    <!-- CALENDAR DROPDOWN -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Calendar</mat-label>
      <mat-select formControlName="calendarId">
        <mat-option *ngFor="let calendar of calendars" [value]="calendar.id">
          {{ calendar.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

     <!-- ASSIGNEES -->
     <app-user-selector
     [label]="'Assignee'"
     [initialSelectedUsers]="assignees"
     [hint]="'Assignees are used for checking availability from other calendars.'"
     (selectedUsersChange)="onAssigneesChange($event)"
     ></app-user-selector>
     @if (isCheckingAvailability()){
       <mat-progress-bar mode="indeterminate" class="mb-2"></mat-progress-bar>
     }

    <!-- TITLE -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Event Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <!-- DESCRIPTION -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="3"></textarea>
    </mat-form-field>

    <!-- DATES -->
    <app-date-time-picker
      [initialStartDate]="eventForm.controls['startTime'].value ?? ''"
      [initialEndDate]="eventForm.controls['endTime'].value ?? ''"
      [initialIsAllDay]="eventForm.controls['allDay'].value ?? ''"
      (startDateChange)="eventForm.controls['startTime'].setValue($event); checkAssigneesAvailability()"
      (endDateChange)="eventForm.controls['endTime'].setValue($event); checkAssigneesAvailability()"
      (allDayChange)="eventForm.controls['allDay'].setValue($event)"
      (isValid)="onDateTimePickerValidityChange($event)"
    ></app-date-time-picker>

    <!-- WARNINGS -->
    @if(assigneesConflicts().length > 0){
      <p class="warning-conflicts-text" >
        {{conflictsMessage()}}
      </p>
    }
  </mat-dialog-content>

  <mat-dialog-actions class="bottom-actions">
    <button mat-button type="button" (click)="onCancel()">Cancel</button>
    <button
      mat-raised-button
      type="button"
      (click)="save('copy')"
      [disabled]="eventForm.invalid || !isDateTimePickerValid"
    >
      Save & Copy
    </button>
    <button
      mat-flat-button
      type="button"
      (click)="save('save')"
      [disabled]="eventForm.invalid || !isDateTimePickerValid"
    >
      Save
    </button>
  </mat-dialog-actions>
</form>
