.form-group {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

button {
  margin-left: 10px;
}

.option-button {
  width: 268px;
  margin: 0;
  justify-content: left;
}

.red-color {
  color: red;
}

.delete-button{
  color:#bd0000;
}
.users-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  max-height: 40vh;
  overflow-y: auto;
  padding-right: 12px;
}

.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  position: relative;

  .user-info {
    display: flex;
    align-items: center;
    gap: 8px;

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: bold;
    }
      .username {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.6);
      }

  }
  .role-select {
    width: 120px;
  }


  .remove-btn {
    position: absolute;
    top:0;
    right: 0;
  }
}
