<mat-card>
  <mat-card-header>
    <mat-card-title> {{ formData.mode | titlecase }} Calendar </mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="form-group" [formGroup]="calendarForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="calendarForm.controls.name" />
    </mat-form-field>

    <!-- SHARED WITH -->
    @if(formData.mode === 'edit'){
    <button mat-stroked-button color="primary" (click)="openPeopleModal()">
      <mat-icon>add</mat-icon>
      add people or group
    </button>

    <div class="users-list">
      @for(user of selectedUsers; track user.userId) {
      <div class="user-item">
        <div class="user-info">
          <div
            class="avatar"
            [style.background-color]="getRandomColor(user.userId)"
          >
            {{ getInitial(user) }}
          </div>
          <div class="user-details">
            <div class="name">{{ user.name || user.username }}</div>
            <div class="username">{{ user.username }}</div>
          </div>
        </div>
        <mat-form-field class="role-select">
          <mat-select [(value)]="user.role">
            <mat-option value="User">User</mat-option>
            <mat-option value="Manager">Manager</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button (click)="remove(user)" class="remove-btn">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      }
    </div>

    }
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button type="button" (click)="close()">Cancel</button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="calendarForm.invalid"
      (click)="save()"
    >
      Save
    </button>
  </mat-card-actions>
</mat-card>
