@use "@angular/material" as mat;
@use "../../../styles_variables" as lsa_var;

@keyframes carrousel {
  0% {
    left: 90%;
  }
  100% {
    transform: translateX(-90%);
  }
}

.radio-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .volume-controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  @include mat.slider-overrides(
    (
      handle-width: 10px,
      handle-height: 10px,
      inactive-track-color: var(--mat-sys-on-surface-variant),
    )
  );
}

.toolbar {
  display: flex;
  padding: 5px;
  justify-content: end;
}
.title {
  margin: 15px;
}

.music-info {
  margin-top: 20px;
  font-size: lsa_var.$fs-xs;
  position: relative;
  overflow: hidden;
  height: 23px;
  span {
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    left: 0;
    animation: carrousel 15s ease-in-out infinite;
    animation-direction: alternate;
  }
}
