<div class="container">
  <h1>Church Services</h1>
  <button mat-fab color="primary" class="add-button" (click)="onAdd()">
    <mat-icon>add</mat-icon>
  </button>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="sermonId">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let sermon">{{ sermon.sermonId }}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Título</th>
      <td mat-cell *matCellDef="let sermon">{{ sermon.title }}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let sermon">
        {{ sermon.date | date : "yyyy-MM-dd" }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let sermon">
        <button mat-icon-button (click)="onEdit(sermon)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(sermon)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header & Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[20, 30, 50]" showFirstLastButtons
  ></mat-paginator>
</div>


<!-- DELETE DIALOG -->
<ng-template #confirmDeleteDialog let-data>
  <div class="dialog-container">
    <h2 mat-dialog-title>Confirmar eliminación</h2>
    <mat-dialog-content>
      ¿Está seguro de eliminar el sermón "{{ data.title }}"?
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button (click)="dialogRef.close(false)">Cancelar</button>
      <button mat-flat-button color="warn" (click)="dialogRef.close(true)">Eliminar</button>
    </mat-dialog-actions>
  </div>
</ng-template>
