
<div class="container">
  <iframe    
    [src]="config().src"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"    
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>

  <div class="info">
    <h1>{{ config().title }}</h1>
    <p>{{ config().subtitle }}</p>

    <table>
      <tr>
        <td>{{ config().table?.["cell11"] }}</td>
        <td class="bold">{{ config().table?.["cell12"] }}</td>
      </tr>
      <tr>
        <td>{{ config().table?.["cell21"] }}</td>
        <td class="bold">{{ config().table?.["cell22"] }}</td>
      </tr>
      <tr>
        <td>{{ config().table?.["cell31"] }}</td>
        <td class="bold">{{ config().table?.["cell32"] }}</td>
      </tr>
    </table>    

</div>
