<div class="container">
    <app-logout />
    <a href="/" mat-stroked-button class="back-button"><mat-icon>arrow_back</mat-icon>back</a>

    <h3 class="w-100">Edit Services</h3>
    <p>Add or edit the lists of video recordings:</p>
    <a mat-stroked-button href="services">
        <mat-icon>podium</mat-icon> Preachings
    </a>
    <a mat-stroked-button href="courses">
        <mat-icon>book</mat-icon>
        Courses
    </a>
    <a mat-stroked-button href="gallery">
        <mat-icon>gallery_thumbnail</mat-icon>
        Gallery
    </a>
    <a mat-stroked-button href="playlists">
        <mat-icon>subscriptions</mat-icon>
        Playlists
    </a>
    <a mat-stroked-button href="preachers">
        <mat-icon>group_add</mat-icon>
        Preachers
    </a>    
</div>
