<div class="header">
  @if(canEdit()){
    <button mat-icon-button (click)="edit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  }
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="info-container">
  <table>
    <tr>
      <td class="column-icons">
        <div [style.background-color]="dialogData().color" class="color-icon"></div>
      </td>
      <td class="title">
        {{dialogData().title || dialogData().displayTitle}}
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="pb-2">
        {{dialogData().date | date:'MMMM dd, yyyy'}} <br>
        @if (dialogData().allDay){
          <span>All day</span>
        } @else{
          {{dialogData().start}} - {{dialogData().end}}
        }
      </td>
    </tr>
    @if (dialogData().assignees.length > 0){
      <tr>
        <td> <mat-icon>people</mat-icon> </td>
        <td class="pb-2">
          @for(assignee of dialogData().assignees; track assignee.userId){
            <span class="chip"> {{assignee.name}} {{assignee.lastName}} </span>
          }
        </td>
      </tr>
    }
    @if(dialogData().description){
      <tr>
        <td> <mat-icon>notes</mat-icon> </td>
        <td class="pb-2">{{dialogData().description}}</td>
      </tr>
    }
    <tr>
      <td ><mat-icon>calendar_today</mat-icon></td>
      <td class="pb-2">{{dialogData().calendarName}}</td>
    </tr>
  </table>

</div>
