.DS_Store

lsa-web-apis/bin/
lsa-web-apis/obj/
lsa-web-apis/appsettings*.json
lsa-web-apis/.vscode/
lsa-web-apis/Migrations/
lsa-web-apis/appsettings.json

lsa-web-apis/lsa-web-apis.Tests/bin/

lsa-web-apis/lsa-web-apis.Tests/obj/

lsa-website/package-lock.json
