@use "@angular/material" as mat;
@use "../../../styles_variables" as style_vars;

mat-card {
  width: 300px;
  margin: 20px;

  .video {
    &-title {
      margin: 6px 0;
      text-align: left;
    }
    &-speaker {
      font-size: style_vars.$fs-m;
      text-align: left;
      display: block;
    }
    &-date {
      font-size: style_vars.$fs-sm;
      text-align: left;
      display: block;
    }
  }
}

.hovered {
  @include mat.card-overrides(
    (
      outlined-outline-color: "var(--mat-sys-tertiary)",
    )
  );
}

a {
  color: inherit;
  text-decoration: none;
  @include mat.card-overrides(
    (
      outlined-outline-color: transparent,
      outlined-container-shape: 0,
    )
  );
}
