<div
  class="section"
  [style.backgroundColor]="backgroundColor()"
  [style.color]="textColor()"
  [style.textAlign]="textAlign()"
>
  
  @if(title()){ <h1>{{ title() }}</h1>}
  
  @if(sectionConfig().descriptionBlock){
    <lsa-description-block [descriptionBlockConfig]="sectionConfig().descriptionBlock!"></lsa-description-block>
  }

  @if(sectionConfig().verseOfTheDay?.copyright){
    <lsa-verse-of-the-day [config]="sectionConfig().verseOfTheDay!" ></lsa-verse-of-the-day>
  }

  @if(sectionConfig().mapWidget?.src){
    <lsa-map-widget [config]="sectionConfig().mapWidget!"></lsa-map-widget>
  }

  @if (sectionConfig().imageCard?.image){
    <lsa-image-card [config]="sectionConfig().imageCard!"></lsa-image-card>
  }
  
  @if(sectionConfig().quickLinks?.links){        
    <lsa-quick-links [config]="sectionConfig().quickLinks!"></lsa-quick-links>
  }
  
  @if(sectionConfig().footer){
    <lsa-footer [config]="sectionConfig().footer!" ></lsa-footer>
  }

</div>
