:host {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}

.header {
  margin-right: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .spacer {
    flex: 1;
  }

  a {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
}

.table-container {
  flex: 1;
  overflow-x: hidden;
}

.plus-icon {
  font-size: 24px;
}

.w-full {
  width: 100%;
}

.header-cell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cell-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chip {
  font-size: 12px;
}

table {
  table-layout: fixed;
  width: 100%;
}
