<div class="header">
  <a routerLink="/" mat-stroked-button><mat-icon>arrow_back</mat-icon>back</a>
  <h1>{{ tableTitle() }}</h1>
  <span class="spacer"></span>
  <button mat-fab (click)="openCreateForm()">
    <mat-icon class="plus-icon">add_2</mat-icon>
  </button>
</div>

<div class="table-container">
  @if (isLoading()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  @if (tableDatasource != undefined) {
    <mat-form-field appearance="outline" class="w-full">
      <input
        matInput
        placeholder="search..."
        [(ngModel)]="searchTerm"
        (keyup)="search()"
      />
    </mat-form-field>

    <table mat-table [dataSource]="tableDatasource!">
      @for (field of datasource().columns; track $index) {
        <ng-container [matColumnDef]="field.datasourceName">
          <th
            mat-header-cell
            *matHeaderCellDef
            [style.width]="field.width ? field.width : 'auto'"
          >
            <div class="header-cell">
              {{ field.displayName }}
              @if (field.filterOptions && field.filterOptions.length > 0) {
                <button mat-icon-button [matMenuTriggerFor]="filterMenu">
                  <mat-icon [class.filled]="selectedOptions.selectedOptions.selected.length > 0">filter_alt</mat-icon>
                </button>
                <mat-menu #filterMenu="matMenu">
                  <mat-selection-list
                    #selectedOptions
                    (multiple)="(true)"
                    (selectionChange)="
                      applyFilter(
                        field.datasourceName,
                        selectedOptions.selectedOptions.selected
                      )
                    "
                  >
                    @for (option of field.filterOptions; track option) {
                      <mat-list-option
                        [value]="option.value"
                        (click)="$event.stopPropagation()"
                      >
                        {{ option.viewValue }}
                      </mat-list-option>
                    }
                  </mat-selection-list>
                </mat-menu>
              }
            </div>
          </th>
          <td mat-cell *matCellDef="let entry">
            <div class="cell-content" [matTooltip]="getTooltip(entry, field.datasourceName, field.displayProperty)">
            @if (field.isArray) {
                @for (item of entry[field.datasourceName]; track $index) {
                  <div class="chip">
                    {{ field.displayProperty ? item[field.displayProperty] : item }}
                  </div>
                }
            } @else {
              {{ entry[field.datasourceName] }}
            }
          </div>
          </td>
        </ng-container>
      }
      @if (showActions()) {
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef style="width: 112px"></th>
          <td mat-cell *matCellDef="let entry">
            <button mat-icon-button (click)="openEditForm(entry)">
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="openDeleteConfirmation(entry)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
      }

      <!-- Header & Row Declarations -->
      <tr
        mat-header-row
        *matHeaderRowDef="columnsAndActions(); sticky: true"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: columnsAndActions()"></tr>
    </table>
  }
</div>
<mat-divider></mat-divider>
<mat-paginator
  [pageSizeOptions]="[5, 10, 25, 50]"
  showFirstLastButtons
  (page)="loadWithPagination() && pageChange.emit($event)"
>
</mat-paginator>
