:host {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}

.header {
  margin-right: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  .spacer {
    flex: 1;
  }
}

.table-container{
  flex:1;
  overflow-x: hidden;
}

.plus-icon{
  font-size: 24px;
}

.w-full {
    width: 100%;
}
