<div class="header">
  @if(showBackButton()){
    <button mat-stroked-button (click)="goBack()"><mat-icon>arrow_back</mat-icon>back</button>
  }
  <h1>{{ tableTitle() }}</h1>
  <span class="spacer"></span>
  <button mat-fab (click)="openCreateForm()"><mat-icon class="plus-icon">add_2</mat-icon></button>
</div>
<p *ngIf="!isLoading() && datasource().totalItems == 0">No records found</p>
<div class="table-container">
  @if (isLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  @if(tableDatasource != undefined) {
  <mat-form-field *ngIf="!isLoading() && datasource().totalItems > 0" appearance="outline" class="w-full">
    <input matInput placeholder="search..." [(ngModel)]="searchTerm" required (keydown.enter)="search()"/>
  </mat-form-field>

  <table mat-table [dataSource]="tableDatasource!" class="mat-elevation-z8"  *ngIf="datasource().totalItems > 0">
  @for (field of datasource().columns; track $index) {
    <ng-container [matColumnDef]="field.datasourceName">
      <th mat-header-cell *matHeaderCellDef>{{ field.displayName }}</th>
      <td mat-cell *matCellDef="let entry">
        @if (field.isArray) {

          <mat-chip-listbox >
            @for (item of entry[field.datasourceName]; track $index) {
              <mat-chip selected>
                {{ field.displayProperty ? item[field.displayProperty] : item }}
              </mat-chip>
            }
          </mat-chip-listbox>
        } @else {
          {{ entry[field.datasourceName] }}
        }
      </td>
    </ng-container>
  }
  @if(showActions()){
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let entry">
        @if(showDisableButton()){
          <button mat-icon-button (click)="openDisableConfirmation(entry)" title="Cancel">
            <mat-icon>block</mat-icon>
          </button>
        }
        <button mat-icon-button (click)="openEditForm(entry)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="openDeleteConfirmation(entry)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  }
  @if(showDetailsButton()){
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>{{detailsLabel()}}</th>
      <td mat-cell *matCellDef="let entry">
        <button mat-icon-button (click)="goToDetails(entry)" title="{{detailsLabel()}}">
          <mat-icon>list_alt</mat-icon>
        </button>
      </td>
    </ng-container>
  }
  @if(showSettingsButton()){
    <ng-container matColumnDef="settings">
      <th mat-header-cell *matHeaderCellDef>Settings</th>
      <td mat-cell *matCellDef="let entry">
        <button mat-icon-button (click)="openSettings(entry)" title="settings">
          <mat-icon>settings</mat-icon>
        </button>
      </td>
    </ng-container>
  }

    <!-- Header & Row Declarations -->
    <tr
      mat-header-row
      *matHeaderRowDef="columnsAndActions(); sticky: true"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: columnsAndActions()"></tr>
  </table>
  }
</div>
<mat-divider></mat-divider>
<mat-paginator
  *ngIf="!isLoading() && datasource().totalItems > 0"
  [pageSizeOptions]="[5, 10, 25, 50]"
  showFirstLastButtons
  (page)="loadWithPagination() && pageChange.emit($event)"
>
</mat-paginator>
