@use "../../../styles_variables" as style_vars;

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 20px;

  .columns {
    display: flex;
    flex-direction: row;
    gap: 180px;
  }

  section {
    display: flex;
    flex-direction: column;
  }

  a {
    font-size: style_vars.$fs-m;
    color: var(--mat-sys-primary);
    margin-top: 20px;
    display: flex;

    .mat-icon {
      color: var(--mat-sys-secondary);
      margin-right: 10px;
    }
  }

  & .copyright {
    margin-top: 60px;
    position: relative;
    max-width: 1600px;
    width: 100%;
    text-align: left;
    font-size: style_vars.$fs-xs;
    color: var(--mat-sys-secondary);
  }
}

@media (max-width: 980px) {
  footer {
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .columns {
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }

    & section {
      width: 100%;
      align-items: center;
      text-align: center;
    }

    .copyright {
      align-self: center;
      text-align: center;
    }
  }
}
