.main-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.calendar-list {
  min-width: 250px;
  background-color: #f5f5f5;
  padding: 20px 8px;
  overflow-y: auto;
  position: relative;
}

full-calendar {
  flex: 1;
  overflow: auto;
  margin: 16px;
}

.add-button{
  position: absolute;
  right: 4px;
  border-radius: 50%;
  text-align: center;
  font-size: large;
  cursor: pointer;
}

.add-button:hover{
  background-color: #e0e0e0;
}

.mat-mdc-list-option {
  .mdc-checkbox {
    .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
    .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
    .mdc-checkbox__native-control[data-indeterminate="true"]:enabled ~ .mdc-checkbox__background {
      border-color: var(--checkbox-color) !important;
      background-color: var(--checkbox-color) !important;
    }
  }
}
