<div class="main-container">
  <div class="calendar-list">
    My Calendars
    <mat-icon class="add-button">add</mat-icon>

    <mat-selection-list (selectionChange)="onCalendarSelectionChange($event)">
      @for (item of myCalendars; track item.id) {
      <mat-list-option
        [value]="item.id"
        [selected]="selectedCalendars.includes(item.id!)"
        togglePosition="before"
        [style.--checkbox-color]="item.color"
      >
        {{ item.name }}
      </mat-list-option>

      }
    </mat-selection-list>
  </div>

  <full-calendar [options]="calendarOptions"></full-calendar>
</div>
