<div class="main-container">
  <div class="calendar-list">
    <button mat-raised-button color="primary" (click)="openAddEventDialog()">
      Add Event
    </button>

    <div class="calendar-header">
      <span>My Calendars</span>
      <button mat-icon-button class="add-button" (click)="openModal()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <mat-selection-list (selectionChange)="onCalendarSelectionChange($event)">
      @for (item of myCalendars; track item.id) {
      <div class="calendar-item">
        <mat-list-option
          [value]="item.id"
          [selected]="selectedCalendars.includes(item.id!)"
          togglePosition="before"
          [style.--checkbox-color]="item.color"
        >
          {{ item.name }}
        </mat-list-option>
        <button
          mat-icon-button
          class="more-options"
          (click)="showCalendarOptions($event, item)"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      }
    </mat-selection-list>
  </div>

  <full-calendar [options]="calendarOptions"></full-calendar>

</div>
