.main-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.calendar-list {
  width: 300px;
  background-color: #f5f5f5;
  padding: 20px;
  overflow-y: auto;
}

full-calendar {
  flex: 1;
  overflow: auto;
  margin: 16px;
}

.mat-mdc-list-option {
  .mdc-checkbox {
    .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
    .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
    .mdc-checkbox__native-control[data-indeterminate="true"]:enabled ~ .mdc-checkbox__background {
      border-color: var(--checkbox-color) !important;
      background-color: var(--checkbox-color) !important;
    }
  }
}
