.add-event-button{
  margin-top: 16px;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.calendar-list {
  min-width: 250px;
  background-color: #f5f5f5;
  padding: 20px 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.calendar-header span {
  font-weight: 500;
}

.add-button {
  width: 40px;
  height: 40px;
}


.fc-event-title{
  font-weight: 500 !important;
}

.calendar-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.calendar-item mat-list-option {
  flex: 1;
}

.more-options {
  opacity: 0;
  transition: opacity 0.2s;
}

.calendar-item:hover .more-options {
  opacity: 1;
}

.calendars-scroll-container {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
}


full-calendar {
  flex: 1;
  overflow: auto;
  margin: 16px;
}

.add-button{
  position: absolute;
  right: 4px;
  border-radius: 50%;
  text-align: center;
  font-size: large;
  cursor: pointer;
}

.add-button:hover{
  background-color: #e0e0e0;
}

.fc-tooltip {
  pointer-events: none;
  max-width: 200px;
}

.mat-mdc-list-option {
  .mdc-checkbox {
    .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
    .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
    .mdc-checkbox__native-control[data-indeterminate="true"]:enabled ~ .mdc-checkbox__background {
      border-color: var(--checkbox-color) !important;
      background-color: var(--checkbox-color) !important;
    }
  }
}
