<div class="mobile-menu">
  <mat-toolbar>
    <h1>{{ title }}</h1>
    <span class="spacer"></span>
    <button mat-icon-button (click)="close.emit()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <mat-accordion>
    @for (item of options; track item) { 
      <mat-expansion-panel class="mat-elevation-z0" hideToggle>
        <mat-expansion-panel-header
          [class.active]="isSelected(item)"
          (click)="setActiveOption(item)"
        >
          <div class="header-menu">{{ item.text }}</div>
        </mat-expansion-panel-header>

        @for(subItem of item.options; track subItem){
          <div class="sub-item">
            {{ subItem.text }}
          </div>
        }
      </mat-expansion-panel>
    }
  </mat-accordion>

  @if(button){
  <div class="button-container">
    <a [routerLink]="button.link" mat-flat-button class="donate-button">
      {{ button.text }}
    </a>
  </div>
  }
</div>
