.mobile-menu {    
    position: fixed;
    background-color: white;    
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px;
    text-shadow: none;      
    flex-direction: row;
    align-items: center;
    
    & .option{
        width: 100%;
        border: solid 1px red;
        text-decoration: none;
    }
  }

  .spacer{
    flex: 1 1 auto;
  }
  