<mat-card>
  <mat-card-header>
    <mat-card-title> {{ formData.mode | titlecase }} Event </mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="form-group" [formGroup]="publicEventForm">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput [formControl]="publicEventForm.controls.title" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput [formControl]="publicEventForm.controls.description" />
    </mat-form-field>

    <app-date-time-picker
      [initialStartDate]="publicEventForm.controls.startTime.value ?? ''"
      [initialEndDate]="publicEventForm.controls.endTime.value ?? ''"
      (startDateChange)="setStartTime($event)"
      (endDateChange)="setEndTime($event)"
      (isValid)="onDateTimePickerValidityChange($event)"
    ></app-date-time-picker>

  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button type="button" (click)="close()">Cancel</button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="publicEventForm.invalid || !isDateTimePickerValid"
      (click)="save()"
    >
      Save
    </button>
  </mat-card-actions>
</mat-card>
