.form-group {
  display: flex;
  flex-direction: column;
  width: 300px;
}

mat-form-field {
  width: 300px;
}

button {
  margin-left: 10px;
}

.option-button {
  width: 268px;
  margin: 0;
  justify-content: left;
}

.red-color {
  color: red;
}
