.spacer {
  flex: 1;
}

.title {
  display: flex;
  margin-top: 8px;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: calc(90vh - 40px);

  .video-container {
    width: 100%;
  }

  .carrousel-container {
    flex: 1;
    width: 400px;
    min-width: 300px;
    overflow-x: hidden;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 8px;

    .carrousel-container {
      width: 100%;
      min-width: auto;
    }
  }
}