.spacer {
  flex: 1;
}

.title {
  display: flex;
  margin-top: 8px;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 16px;
  height: 90vh;
  max-height: 100vh;
  height: calc(90vh - 40px);

  .video-container {
    width: 100%;
  }

  .carrousel-container {
    width: 400px;
    min-width: 300px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 8px;

    .carrousel-container {
      width: 100%;
      min-width: auto;
    }
  }
}

.iframe{
  height: 100%;
  min-height: 50vh;
}