:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

a {
  margin: 10px;
}

app-logout{
  position: absolute;
  top: 8px;
  right: 8px;  
}