:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu-button {
  margin: 10px;
}

.container {
  text-align: center;
}

.calendar-menu {
  .mat-menu-panel {
    background-color: white;
    margin: 0;
  }

  .mat-menu-content {
    padding: 0;
  }

  .mat-menu-item {
    background-color: white;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}
