<div
  class="header-container"
  [style.backgroundImage]="
    backgroundImage() ? 'url(' + backgroundImage() + ')' : ''
  "
  [style.backgroundColor]="!backgroundImage() ? backgroundColor() ?? '' : ''"
>
  @if(overlayColor()){
  <div class="header-overlay" [style]="overlayColor()"></div>
  }

  <div class="header-content">
    <div
      class="floating-description"
      [style.color]="textColor()"
      [style]="textPosition()"
    >
      <h1>{{ title() }}</h1>
      @for(line of description(); track line){
        <div class="description-line" [class.quote-ref]="line.includes('REF')" [ngStyle]="getStyleForQuoteRef(line)">
          <span class="quote" *ngIf="line.includes('QUOTE')">“</span>
          <span >{{ line.replace("QUOTE", "").replace("REF", "") }}</span>
        </div>
      }
    </div>
  </div>
</div>
