@if (headerConfig().carousel == undefined) {
  <lsa-background-image-with-floating-text
    [config]="headerConfig()"
  ></lsa-background-image-with-floating-text>
} @else {
  <lsa-carousel [autoRotateMs]="headerConfig().carousel!.autoRotateMs" [loop]="headerConfig().carousel!.loop ?? true"> >
    @for (slide of headerConfig().carousel!.slides; track $index) {
      <ng-template>
        <lsa-background-image-with-floating-text
          [config]="slide"
        ></lsa-background-image-with-floating-text>
      </ng-template>
    }
  </lsa-carousel>
}
