<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <Platform>Any CPU</Platform>
        <PublishDir>bin\Release\net9.0\publish\</PublishDir>
        <PublishProtocol>FileSystem</PublishProtocol>
    </PropertyGroup>
    <ItemGroup>
        <Content Remove="appsettings*.json" />
    </ItemGroup>
</Project>
