<div class="container">
  <app-table-view
    [isLoading]="isLoading()"
    [datasource]="dataSource()"
    [tableTitle]="tableTitle"
    [createForm]="createForm"
    [editForm]="editForm"
    [deleteConfirmationFields]="deleteFields"
    [viewType]="tableViewTypes.usergroup"
    [loadWithPagination]="false"
    [addMenuOptions]="addMenuOptions"
    (pageChange)="onPageChange($event)"
    (createRequest)="addUserOrGroup($event)"
    (editRequest)="onEdit($event)"
    (deleteRequest)="onDelete($event)"
  ></app-table-view>
</div>
