@use "../../../styles_variables" as lsa_var;
.quick-links-container{
    display: flex;    
}

.quick-links-container > a{
    text-align: center;
    flex: 1;
    padding: 40px;
    color: #fff;
    text-decoration: none;
    justify-content: space-between;
}

.icon{
    width: 100px;
    height: 100px;
    filter: invert(100%);
}

.title {
    text-align: center;      
    font-size: lsa_var.$fs-xxxl;
    line-height: lsa_var.$fs-xxxl;
    padding: 0;
    margin: 0;
}

.icon-label{
    font-size: lsa_var.$fs-xl;
    font-weight: 200;
    margin-top: 24px;
}

@media (max-width: 980px) {
    .quick-links-container{
        flex-direction: column;
    }
}