header {
  background-image: url("../assets/pastor_preaching.jpeg");
}

.section-title {
  text-align: center;  
}

.sermon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & .show-more{
    text-align: center;
    width: 100%;
    & button {
      background-color: transparent;
      color: var(--accent-color);
      text-decoration: underline;
      font-size: var(--fs-lg);
    }
  }
}



.sermon-card {
  /* max-width: 30%; */
  margin:16px;
  width: 400px;
  text-align: center;
  & h4.h5 {
    line-height: var(--fs-sm);
  }
  & .cover {
    height: 220px;
    width: 100%;
    background-position: center !important;    
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;
    
  }
}