header::before {
  background-image: none;
}

header {
  /* background-image: url("../assets/pastor_preaching.jpeg"); */
  height: 100px;
}

#menu-opened , .index-nav{
  color: var(--base-color);
  text-shadow: none;
  font-weight: 400;
}
