<div class="mobile-menu">

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

        <!-- Nodo con hijos -->
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild">
          <div class="mat-tree-node">
            <button mat-icon-button matTreeNodeToggle>
              <mat-icon>
                {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
              </mat-icon>
            </button>
            {{ node.text }}
          </div>
        </mat-tree-node>
      
        <!-- Nodo sin hijos -->
        <mat-tree-node *matTreeNodeDef="let node">
          <div class="mat-tree-node">
            <a [routerLink]="node.link">{{ node.text }}</a>
          </div>
        </mat-tree-node>
      
      </mat-tree>
      
</div>