div {
  overflow: hidden;
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

:host {
  display: flex;
  align-items: center;
}
