@use "../../../styles_variables" as lsa_var;

.vertical-list-container{
    display: flex;
    flex-direction: column;;   
}

.video-item{
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    transition: all 300ms;

    & img{
        width: 100px;
        height: 60px;
        border-radius: 4px;
        margin-right: 4px;
    }

    & .info{
        padding: 0;
        margin: 0;
        font-size: lsa_var.$fs-sm;
    }

    &:hover{
        border: solid 1px;        
    }
}

.selected{
    border: 1px solid;
}