// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "./app/color_palettes/algae_peach_colors" as algae-peach;
@use "./styles_variables" as style_vars;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: algae-peach.$primary-palette,
        tertiary: algae-peach.$tertiary-palette,
      ),
      typography: (
        plain-family: "Noto Serif",
        brand-family: "Noto Serif",
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300,
      ),
      density: 0,
    )
  );

  @include mat.button-overrides(
    (
      filled-container-shape: 0,
      filled-container-height: 55px,
      filled-label-text-size: style_vars.$fs-lg,
      filled-label-text-weight: 300,
    )
  );

  @include mat.sidenav-overrides((
    container-shape: 0,
    container-width: 100%

  ));

} /* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Noto Serif", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: style_vars.$fs-lg;
}

h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  font-size: style_vars.$fs-xxxl;
}

h2 {
  font-size: style_vars.$fs-xxl;
}

h3 {
  font-size: style_vars.$fs-xl;
}

.nav-menu {
  .menu-item{
    min-height: 40px;
  }
  @include mat.menu-overrides(
    (
      item-label-text-color: var(--mat-sys-on-secondary),
      container-color: transparent,
      container-elevation-shadow: 0,
      item-label-text-weight: 400,
      item-leading-spacing: 6px
    )
  );
}