
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './app/color_palettes/algae_peach_colors.scss' as algae-peach;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: algae-peach.$primary-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: "Noto Serif",
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Noto Serif", "Helvetica Neue", sans-serif; }
