/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-icon {
  font-family: 'Material Symbols Outlined' !important;
  margin-bottom: 5px;
}

.container{
    padding: 40px;
}


.dialog-container{
  padding: 16px;
  min-width: 400px;
}

.flex-grow-1{flex-grow: 1;}
.flex-grow-2{flex-grow: 2;}

.back-button{
  position: absolute !important;
  top: 8px;
  left: 8px;
}

app-logout{
  position: absolute;
  top: 8px;
  right: 8px;
}

.mat-mdc-form-field-icon-suffix {
  display: flex;
  align-items: center;
}

.mat-mdc-form-field-icon-suffix > .mat-icon {
  padding: 0 12px;
  line-height: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-mdc-form-field-icon-suffix > .mat-progress-spinner {
  padding: 8px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-mdc-form-field-icon-suffix > .mat-progress-spinner svg {
  display: block;
}


