.menu-toolbar {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1600px;
}

:host {
  display: flex;
  height: 100%;
  overflow: hidden;
}

mat-drawer-container{
  height: 100%;
  overflow: hidden;
}

mat-drawer{
  height: 100%;
  overflow: hidden;
}

mat-drawer-content{
  height: 100%;
  overflow-x: hidden;
}