<button (click)="logout()" mat-button class="logout-button">
  <mat-icon>power_settings_new</mat-icon>
  logout
</button>

<ng-template #logoutDialog>
  <h2 mat-dialog-title>Confirm Logout</h2>
  <mat-dialog-content> Are you sure you want to log out? </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="cancel">Cancel</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="'confirm'">
      Logout
    </button>
  </mat-dialog-actions>
</ng-template>
