.steram-container {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  & button {
    .button-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.offline {
  background-color: #d00;
  color: #fff;
}

.w-100 {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  app-live-indicator {
    margin-left: 10px;
  }
}
