
.date-time-wrapper {
  padding: 16px;
  max-width: 100%;
  box-sizing: border-box;
}

.date-time-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.time-group {
  display: flex;
  gap: 8px;
  align-items: center;
  flex: 1;
  width: 100%;

  mat-form-field {
    flex: 1;

    &:not(:first-child) {
      margin-top: 0;
    }
  }
}
