
.date-time-wrapper {
  max-width: 100%;
  box-sizing: border-box;
}

.date-time-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.time-group {
  display: flex;
  gap: 8px;
  align-items: center;
  flex: 1;
  width: 100%;

  mat-form-field {
    flex: 1;

    &:not(:first-child) {
      margin-top: 0;
    }
  }
}

.checkbox {
  margin-top: -12px;
  margin-left: -8px;
  margin-bottom: 4px;
}
