<div class="carrousel-container" #carrouselContainer>
  <button
    class="left-button"
    mat-fab
    aria-label="Previous"
    (click)="scrollLeft()"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>

  <div
    class="video-list-container"
    #videoListContainer
    [style.left.px]="videoListContainerLeftPosition()"
  >
    @for(video of videos(); track $index){
      <lsa-video-card [video]="video"></lsa-video-card>
    }
  </div>

  <button
    class="right-button"
    mat-fab
    aria-label="Next"
    (click)="scrollRight()"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
