@if(descriptionBlock()?.lines?.length){
<lsa-description-block [descriptionBlockConfig]="descriptionBlock()!">
</lsa-description-block>
} @if(searchBox()?.placeHolder != undefined){
<lsa-searchbox
  [config]="searchBox()!"
  (searchQueryChange)="this.searchQuery.set($event)"
></lsa-searchbox>
}

<div class="video-list-container">
  @if(filteredVideos().length === 0 ){ @if(allVideosLoaded()) {
  <p class="no-videos-found">
    {{ config().notFound || "No videos found." }}
  </p>
  } @else {
  <p class="no-videos-found">
    {{
      config().notFoundInRecents ||
        "Recent videos don't match the search criteria"
    }}
  </p>
  } }@else { @for(video of filteredVideos() | slice: 0 : currentViewSize();
  track $index){
  <lsa-video-card [video]="video"></lsa-video-card>
  } }
</div>

@if (config().button?.text) {
<button
  mat-flat-button
  class="button"
  (click)="loadMore()"
  [disabled]="disableLoadMore()"
>
  {{ config().button?.text }}
</button>
}
