<app-table-view
  [isLoading]="isLoading()"
  [datasource]="dataSource()"
  [tableTitle]="tableTitle"
  [createForm]="createForm"
  [editForm]="editForm"
  [showDisableButton]="true"
  [deleteConfirmationFields]="deleteFields"
  [disableConfirmationFields]="disableFields"
  [viewType]="tableViewTypes.publicEvent"
  (pageChange)="onPageChange($event)"
  (createRequest)="onAdd($event)"
  (editRequest)="onEdit($event)"
  (deleteRequest)="onDelete($event)"
  (disableRequest)="onToggleDisable($event)"
></app-table-view>
