div {
  overflow: hidden;
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

:host {
  display: flex;
  align-items: center;
}

@keyframes carrousel {
  0% {
    left: 100%;
    opacity: 1;
  }
  90% {
    left: -200px;
    opacity: 1;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

.music-info {
  position: relative;
  overflow: hidden;
  height: 25px;
  span {
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    left: 0;
    animation: carrousel 15s linear infinite;
  }
}