div {
  overflow: hidden;
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

:host {
  display: flex;
  align-items: center;
}

@keyframes carrousel {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - var(--carrousel-span-width));
  }
  51% {
    left: calc(100% - var(--carrousel-span-width));
  }

  100% {
    left: 0;
  }
}

.music-info span {
  --carrousel-span-width: 0px;
}

.music-info {
  position: relative;
  overflow: hidden;
  height: 25px;
  span {
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    left: 0;
    animation: carrousel 15s ease-in-out infinite;
    animation-direction: alternate;
  }
}