:root {
  --algae-green: 63, 74, 73;
  --light-peach: 212, 150, 125;
  --off-white: 220, 217, 208;

  --charcoal: 56, 56, 56;
  --bright-yellow: 255, 199, 0;
  --light-gray: 244, 244, 243;

  --base-color: rgb(var(--algae-green));
  --accent-color: rgb(var(--light-peach));
  --alternate-color: rgb(var(--off-white));

  --text-color: #000;
  --accent-text-color: #fff;

  --base-color-translucid: rgba(var(--charcoal), 0.4);
}

.base-color-bg {
  background-color: var(--base-color);
}

.accent-color-bg {
  background-color: var(--accent-color);
}

.alternate-color-bg {
  background-color: var(--alternate-color);
}

.accent-color-text {
  color: var(--accent-text-color);
}
