html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: var(--text-color);
  font-size: var(--fs-m);
}

.section {
  position: relative;
  padding: 24px 48px;
  z-index: 1;
}

.header {
  height: calc(100% - 48px);
  text-shadow: black 1px 1px 5px;
  position: relative;
}

.header::after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: radial-gradient(
    var(--base-color-translucid),
    var(--base-color)
  );
  content: "";
  position: absolute;
  z-index: 0;
}

.header nav {
  position: relative;
  z-index: 2;
}

.header-description {
  position: absolute;
  bottom: 48px;
  left: 48px;
  font-size: var(--fs-lg);
  z-index: 1;
  width: 500px;
}

.header-description h1 {
  font-size: var(--fs-xxxl);
  font-weight: 300;
}

.header-description .quote {
  line-height: 36px;
}

.header-description .quote::before {
  content: "“";
  font-size: 80px;
  float: left;
  margin-right: 10px;
  color: var(--accent-color);
  text-shadow: none;
}

.header-description .author {
  text-align: right;
  font-style: italic;
}
