@import "colors.css";
@import "layout.css";
@import "typography.css";
@import "navigation.css";
@import "cards.css";

button {
  padding: 16px 24px;
  border: none;
  font-family: "Noto Serif", serif;
  font-size: var(--fs-sm);
  cursor: pointer;
}

.accent {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.separator {
  flex-grow: 10;
}

.centered-content {
  margin: auto;
}