@import "colors.css?v=202407020130";
@import "layout.css?v=202407020130";
@import "typography.css?v=202407020130";
@import "navigation.css?v=202407020300";
@import "cards.css?v=202407020130";

button {
  padding: 16px 24px;
  border: none;
  font-family: "Noto Serif", serif;
  font-size: var(--fs-sm);
  cursor: pointer;
  position: relative;
}

button:hover:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
}

button:active:after {
  background-color: rgba(0, 0, 0, 0.2);
}

.accent {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.separator {
  flex-grow: 10;
}

.centered-content {
  margin: auto;
}


.sermon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.show-more {
  text-align: center;
  width: 100%;
}

.show-more a {
  color: var(--accent-color);
  font-size: var(--fs-lg);
}

.sermon-card {
  margin: 16px;
  width: 400px;
  text-align: center;
}

.sermon-card .date{
  font-size: var(--fs-sm);
  line-height: var(--fs-xs);
}
.sermon-card .title{
  font-size: var(--fs-lg);
  line-height: var(--fs-md);
  font-weight: 400;
}

.sermon-card .cover {
  height: 220px;
  width: 100%;
  background-position: center !important;
  background-size: 100% auto !important;
  background-repeat: no-repeat !important;
}


@media screen and (min-width: 935px) {
  .section-title {
    text-align: center;
  } 
}