body {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:root {
  --fs-m: 16px;
  --fs-xs: 12px;
  --fs-sm: 14px;
  --fs-lg: 18px;
  --fs-xl: 24px;
  --fs-xxl: 32px;
}
