@use "../../../styles_variables" as lsa_var;

.verse-of-the-day{
  display: flex;
  width: 100vw;
  padding: 0;
  justify-content:center;
  
  & .content{
    position:relative;
    max-width: 1600px;
    & .title{
      text-align: left;
      font-weight: normal;
      font-size: lsa_var.$fs-m;
    }
  
    & .text{    
      font-size: lsa_var.$fs-xxxl;
    }
    
    & .reference{
      font-size: lsa_var.$fs-lg;
      font-weight: 300;
      text-align: right;
  
      & small{font-weight: bold;}
    }
  }
}