<div class="header">
  <button mat-stroked-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>back
  </button>
  <h1>{{ tableTitle }}</h1>
  <span class="spacer"></span>
</div>
<div class="members-section">
  <h3>Members</h3>

  <mat-chip-listbox #chipList>
    <mat-chip *ngFor="let m of members" removable (removed)="onRemoveMember(m)">
      {{ m?.username }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-listbox>

  <mat-form-field appearance="outline" class="member-input">
    <input
      matInput
      placeholder="add member..."
      [formControl]="memberForm"
      [matAutocomplete]="auto"
    />
    <mat-icon matSuffix *ngIf="!memberLoading">person_add</mat-icon>
    <mat-progress-spinner
      *ngIf="memberLoading"
      matSuffix
      diameter="20"
      class="loagind-field"
      mode="indeterminate"
    ></mat-progress-spinner>
  </mat-form-field>

  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="addMember($event.option.value)"
  >
    <mat-option *ngIf="(filteredMembers$ | async)?.length === 0" [value]="null">
      No hay resultados
    </mat-option>
    <mat-option *ngFor="let user of filteredMembers$ | async" [value]="user">
      {{ user.username}}
    </mat-option>
  </mat-autocomplete>
</div>

<app-table-view
  [isLoading]="isLoading()"
  [datasource]="dataSource()"
  [tableTitle]="'Events'"
  [createForm]="createForm"
  [editForm]="editForm"
  [deleteConfirmationFields]="deleteFields"
  [viewType]="tableViewTypes.calendar"
  (pageChange)="onPageChange($event)"
  (createRequest)="onAdd($event)"
  (editRequest)="onEdit($event)"
  (deleteRequest)="onDelete($event)"
  (onSearch)="onSearch($event)"
></app-table-view>
