<div class="nav-header">
  <a href="/" mat-stroked-button class="back-button"><mat-icon>arrow_back</mat-icon>back</a>

  <button class="add-button" mat-fab (click)="openCreateForm()"><mat-icon class="plus-icon">add_2</mat-icon></button>
</div>

<div class="container">
  @for (group of groups(); track $index) {
    <div class="user-group">
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ group.groupName }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <button mat-stroked-button color="primary" class="center">
          <mat-icon>add</mat-icon>
          add people
        </button>

        <div class="chip-container">
          @for (user of group.members; track $index) {
            <div class="chip" >
              <div class="chip-content">
                <div class="chip-avatar"  style="background-color: grey;">
                  {{ getInitial(user) }}
                </div>
                <span class="chip-text">{{ getDisplayName(user) }}</span>
              </div>
              <button class="remove-btn" (click)="remove(user)">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          }
        </div>
      </mat-expansion-panel>
    </div>
  }
</div>
